openapi: 3.1.0
info:
  contact:
    name: Weavr
    url: https://weavr.io
  description: |
    Weavr Multi API provides a simple and flexible way to issue cards and accounts to your customers.

    By integrating Weavr Multi API in your application you can embed banking capabilities within your app and provide a seamless experience for your customers.

    # Authentication
    Each request to the Multi API must include an `api_key` that represents your account. You can obtain an API Key by registering for a Multi account [here](https://portal.weavr.io).

    Almost all endpoints require a secondary authentication token `auth_token` that represents the user for whom the request is being executed.
  title: Weavr Multi Product API
  version: 3.32.1
  x-logo:
    url: https://storage.googleapis.com/weavr-cdn/weavr_logo-new.png
    backgroundColor: '#FFFFFF'
    altText: Weavr
servers:
- description: Weavr Sandbox Environment
  url: https://sandbox.weavr.io/multi
tags:
- description: Manage authentication for your users.
  name: Access
- description: Manage your users' passwords.
  name: Passwords
- description: "Manage additional strong customer authentication factors for your\
    \ users.  \n"
  name: Additional Factors
- description: |
    Corporate and Consumer identities can invite authorised users to access their account. Once on-boarded, authorised users can create and manage instruments and transactions on behalf of the identity they are on-boarded with.

    In case of **Corporate Identities**, authorised users are typically employees who have access to company's banking products such as cards and bank accounts.

    In case of **Consumer Identities**, authorised users are typically children/teens whose parents want them to have access to banking products such as cards and bank accounts.

    Note that `/users` endpoints are to be used only for performing operations related to authorised users - getting or updating the details of _root_ users is to be done via the respective `/consumers` or `/corporates` endpoints.
  name: Authorised Users
- description: "Corporates are identities representing companies. Once on-boarded,\
    \ Corporates can create and manage their own instruments via your application."
  name: Corporates
- description: "Consumers are identities representing individuals. Once on-boarded,\
    \ Consumers can create and manage their own instruments via your application."
  name: Consumers
- description: |
    Managed Accounts are a type of financial instrument offered by Weavr.

    They hold funds for their owner, and can be upgraded to IBANs so as to receive and send funds to instruments outside of the Weavr Platform, via Wire Transfers.

    Managed accounts can also be used as source and destination instruments in the `transfer` and `send` transactions.
  name: Managed Accounts
- description: |
    Managed Cards are a type of financial instrument offered by Weavr.

    You can create virtual or physical cards that are issued to the consumer or corporate identity.

    A card created in prepaid mode has its own balance, whereas a card created in debit mode does not have its own balance but taps into the balance of its parent managed account.
  name: Managed Cards
- description: "The Send transaction is used to send funds between managed accounts\
    \ and managed cards belonging to different identities. \n"
  name: Sends
- description: |
    The Transfer transaction is used to transfer funds between managed accounts and managed cards belonging to same identity.
  name: Transfers
- description: |
    The Outgoing Wire Transfer transaction is used to transfer funds from managed accounts to an external bank account.
  name: Outgoing Wire Transfers
paths:
  /login_with_password:
    post:
      description: |
        Authenticate a user with the `email` and `password` that they provided when registering.

        Given that the user credentials are correct, this returns a `token` that can then be used to authorise
        other secured operations. In case the password is expired, a temporary `token` is returned, which can be used
        solely for updating the password.

        The token returned is valid for 5 minutes from last activity.
      operationId: loginWithPassword
      requestBody:
        $ref: '#/components/requestBodies/LoginWithPasswordRequest'
      responses:
        "200":
          $ref: '#/components/responses/LoginWithPasswordResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          description: The authentication credentials are not found or are incorrect.
        "409":
          $ref: '#/components/responses/LoginWithPasswordConflict'
        "423":
          $ref: '#/components/responses/Locked'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Login with password
      tags:
      - Access
  /identities:
    get:
      description: Retrieves a list of identities available to the holder of the token.
      operationId: userIdentities
      responses:
        "200":
          $ref: '#/components/responses/UserIdentitiesGetResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/UserIdentitiesConflict'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get user identities
      tags:
      - Access
  /stepup/challenges/otp/{channel}:
    post:
      description: |
        Initiates the step-up token process by sending an SMS with an one-time-password to a device belonging to the logged-in user that was previously enrolled through `/authentication_factors/otp/{channel}` endpoint.

        This process is required for endpoints that require a step-up token to complete the call.

        _Note that on the Sandbox Environment, text messages are not sent and the one-time-password is always \"123456\"._
      operationId: stepupSCAChallenge
      parameters:
      - $ref: '#/components/parameters/channel'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "409":
          $ref: '#/components/responses/StepUpSCAChallengeConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Issue a one-time password that can be used to step-up a token
      tags:
      - Access
  /stepup/challenges/otp/{channel}/verify:
    post:
      description: |
        Completes the verification process for a step up token.

        _Note that on the Sandbox Environment, text messages are not sent and the `verificationCode` is always \"123456\"._
      operationId: stepupSCAVerify
      parameters:
      - $ref: '#/components/parameters/channel'
      requestBody:
        $ref: '#/components/requestBodies/SCAVerifyRequest'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/StepUpSCAVerifyConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Verify a step-up token using a one-time password
      tags:
      - Access
  /stepup/challenges/push/{channel}:
    post:
      description: |
        Initiates the step-up token process by submitting a push notification to a device belonging to the logged-in user that was previously enrolled through the `/authentication_factors/push/{channel}` endpoint.

        You should only start this process if the token step-up isn't already in flight.
      operationId: stepupSCAChallengePush
      parameters:
      - $ref: '#/components/parameters/scaPushChannel'
      responses:
        "200":
          $ref: '#/components/responses/StepUpSCAChallengePushResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "405":
          $ref: '#/components/responses/MethodNotAllowed'
        "409":
          $ref: '#/components/responses/StepUpSCAChallengePushConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Issue a push notification that can be used to step-up a token
      tags:
      - Access
  /logout:
    post:
      description: Logs out the user and terminates the session identified by the
        `auth_token` in the Authorization Header.
      operationId: logout
      responses:
        "200":
          $ref: '#/components/responses/LogoutResponse'
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Logout
      tags:
      - Access
  /passwords/{user_id}/create:
    post:
      description: Create a new password for the user identified by the `user_id`
        path parameter.
      operationId: passwordCreate
      parameters:
      - $ref: '#/components/parameters/userId'
      requestBody:
        $ref: '#/components/requestBodies/PasswordCreateRequest'
      responses:
        "200":
          $ref: '#/components/responses/PasswordResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/CreatePasswordConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Create a password
      tags:
      - Passwords
  /passwords/update:
    post:
      description: Update the password for the logged-in user.
      operationId: passwordUpdate
      requestBody:
        $ref: '#/components/requestBodies/PasswordUpdateRequest'
      responses:
        "200":
          $ref: '#/components/responses/PasswordResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/PasswordUpdateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Update a password
      tags:
      - Passwords
  /passwords/validate:
    post:
      description: Check that a password adheres to all complexity checks.
      operationId: passwordValidate
      requestBody:
        $ref: '#/components/requestBodies/PasswordValidateRequest'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/PasswordValidateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Validate a password
      tags:
      - Passwords
  /passwords/lost_password/start:
    post:
      description: |
        Initiate the lost password process.

        If the email address provided is associated with an active user, an email will be sent, containing a URL that redirects the user to change their password.
        The URL contains request parameters for all of the parameters required to change the password for the user via the `/passwords/lost_password/resume` POST endpoint.
      operationId: lostPasswordInitiate
      requestBody:
        $ref: '#/components/requestBodies/EmailRequest'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/LostPasswordInitiateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Initiate lost password process
      tags:
      - Passwords
  /passwords/lost_password/resume:
    post:
      description: This is the second and final step in updating the password of a
        user who forgot their password.
      operationId: lostPasswordResume
      requestBody:
        $ref: '#/components/requestBodies/LostPasswordResumeRequest'
      responses:
        "200":
          $ref: '#/components/responses/TokenResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/LostPasswordResumeConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Resume lost password process
      tags:
      - Passwords
  /authentication_factors:
    get:
      description: Retrieves the list of authentication factors that can be used to
        verify the logged-in user.
      operationId: authFactorsGet
      responses:
        "200":
          $ref: '#/components/responses/AuthFactorsGetResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get user authentication factors
      tags:
      - Additional Factors
  /authentication_factors/otp/{channel}:
    post:
      description: |
        This is the first step in enrolling the logged-in user's mobile device, where a one-time password is sent to the device.

        _Note that on the Sandbox Environment, text messages are not sent and the one-time-password is always \"123456\"._
      operationId: enrolDeviceUsingOtpStepOne
      parameters:
      - $ref: '#/components/parameters/channel'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/EnrolDeviceUsingOtpStepOneConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
        auth_token: []
      summary: Enrol a user device for authentication using one-time passwords
      tags:
      - Additional Factors
  /authentication_factors/otp/{channel}/verify:
    post:
      description: |
        The second step in enrolling the logged-in user (root or authorised user) to use one-time-passwords to enable verification of transactions.

        _Note that on the Sandbox Environment, text messages are not sent and the `verificationCode` is always set to \"123456\"._
      operationId: enrolDeviceUsingOtpStepTwo
      parameters:
      - $ref: '#/components/parameters/channel'
      requestBody:
        $ref: '#/components/requestBodies/SCAVerifyRequest'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/EnrolDeviceUsingOtpStepTwoConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
        auth_token: []
      summary: Verify enrolment of a user device for authentication using one-time
        passwords
      tags:
      - Additional Factors
  /authentication_factors/push/{channel}:
    delete:
      description: Unlink a user device for authentication using push notifications
      operationId: unlinkDeviceUsingPush
      parameters:
      - $ref: '#/components/parameters/scaPushChannel'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/UnlinkDeviceUsingPushConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
        auth_token: []
      summary: Unlink a user device for authentication using push notifications
      tags:
      - Additional Factors
    post:
      description: |
        This is the first step in enrolling the logged-in user's mobile device, where a push notification is sent to the device.
      operationId: enrolDeviceUsingPush
      parameters:
      - $ref: '#/components/parameters/scaPushChannel'
      responses:
        "200":
          $ref: '#/components/responses/EnrolDeviceUsingPushResponse'
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/EnrolDeviceUsingPushConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
        auth_token: []
      summary: Enrol a user device for authentication using push notifications
      tags:
      - Additional Factors
  /access_token:
    post:
      description: |
        This API endpoint accepts a POST request with an auth_token parameter and returns an access_token that grants authorized access to additional resources within the API, with a different expiration time and unique signature.
      operationId: requestAccessToken
      requestBody:
        $ref: '#/components/requestBodies/AccessTokenRequest'
      responses:
        "200":
          $ref: '#/components/responses/AccessTokenResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          description: The auth token is not specified or is incorrect.
        "423":
          $ref: '#/components/responses/Locked'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
        auth_token: []
      summary: Acquire a new access token
      tags:
      - Access
  /users:
    get:
      description: Fetches all authorised users associated with the corporate or consumer
        identity the logged-in user belongs to.
      operationId: usersGet
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/active'
      - $ref: '#/components/parameters/email'
      responses:
        "200":
          $ref: '#/components/responses/UsersGetResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get all users
      tags:
      - Authorised Users
    post:
      description: |
        Creates a user linked to the logged-in corporate or consumer identity.

        Once on-boarded, users have access to all instruments (cards and accounts) of the identity.

        Application-specific permissions to limit what each user can view and do need to be implemented in your application.
      operationId: userCreate
      requestBody:
        $ref: '#/components/requestBodies/UserCreateRequest'
      responses:
        "200":
          $ref: '#/components/responses/UserResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/UserCreateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Create a user
      tags:
      - Authorised Users
  /users/{user_id}:
    get:
      description: Retrieves the user identified by the `user_id` path parameter.
      operationId: userGetById
      parameters:
      - $ref: '#/components/parameters/userId'
      responses:
        "200":
          $ref: '#/components/responses/UserResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get a user
      tags:
      - Authorised Users
    patch:
      description: |
        Update the details of a user identified by the `user_id` in the the path parameter.

        Only the fields that are specified in the request body will be updated. All other fields will remain unchanged.
      operationId: userUpdate
      parameters:
      - $ref: '#/components/parameters/userId'
      requestBody:
        $ref: '#/components/requestBodies/UserPatchRequest'
      responses:
        "200":
          $ref: '#/components/responses/UserResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/UserPatchConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Update a user
      tags:
      - Authorised Users
  /users/{user_id}/activate:
    post:
      description: |
        Activate the user identified by the `user_id` path parameter.

        By default, any new users created will be automatically activated. This operation needs to be used only if the user was previously de-activated using the _userDeactivate_ operation, or if the user was de-activated automatically after multiple incorrect login attempts.
      operationId: userActivate
      parameters:
      - $ref: '#/components/parameters/userId'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Activate a user
      tags:
      - Authorised Users
  /users/{user_id}/deactivate:
    post:
      description: |
        De-activate the user identified by the `user_id` path parameter.

        Deactivated users cannot log in or execute any operations with their credentials.

        This operations is not final and a user can be re-activated using the userActivate operation. Note that another active user would need to log in so as to re-activate the de-activated user.
      operationId: userDeactivate
      parameters:
      - $ref: '#/components/parameters/userId'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Deactivate a user
      tags:
      - Authorised Users
  /users/{user_id}/invite:
    post:
      description: |
        Once a user is created using the _userCreate_ operation, the user needs to setup his/her password.

        An invitation needs to be sent to the user in order to be able to set up the password for the first time. The invitation email, which remains valid for 1 month, will contain a URL having all information required to setup the password via the _userInviteConsume_.
      operationId: userInviteSend
      parameters:
      - $ref: '#/components/parameters/userIdExplode'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/UserInviteSendConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Send a user invite
      tags:
      - Authorised Users
  /users/{user_id}/invite/validate:
    post:
      description: Check if a user's invite is still valid. This operation is useful
        to avoid having the user fill in a form only to be held by a validation issue
        (eg. expired invite).
      operationId: userInviteValidate
      parameters:
      - $ref: '#/components/parameters/userIdExplode'
      requestBody:
        $ref: '#/components/requestBodies/UserInviteValidateRequest'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/UserInviteValidateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Validate a user invite
      tags:
      - Authorised Users
  /users/{user_id}/invite/consume:
    post:
      description: |
        Consumes an invitation perviously sent to the user via _userInviteSend_. This is needed so that the invited user sets up the password.

        _Note that on the Sandbox Environment, the `inviteCode` is always set to \"123456\"._
      operationId: userInviteConsume
      parameters:
      - $ref: '#/components/parameters/userIdExplode'
      requestBody:
        $ref: '#/components/requestBodies/UserInviteConsumeRequest'
      responses:
        "200":
          $ref: '#/components/responses/TokenResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/UserInviteConsumeConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Consume a user invite
      tags:
      - Authorised Users
  /users/verification/email/send:
    post:
      description: |
        The first step in verifying an authorised user's email. The authorised user whose email address is to be verified is sent an email containing a randomly generated code.

        This code must then be provided in the _authorisedUserEmailVerify_ operation to verify the authorised user's email address.

        _Note that on the Sandbox Environment, the `verificationCode` is always set to \"123456\"._
      operationId: authorisedUserEmailVerificationCodeSend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/lostPasswordInitiate_request'
        required: true
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorisedUserEmailVerificationCodeSend_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Send an email verification code to the authorised user
      tags:
      - Authorised Users
  /users/verification/email/verify:
    post:
      description: |
        The second step in verifying the authorised user's email. The randomly generated code sent to the authorised user via
        email, using the _authorisedUserEmailVerificationCodeSend_ operation, is submitted here to verify the authorised user's email.

        This is needed as part of the verification process for basic due diligence.

        _Note that on the Sandbox Environment, the `verificationCode` is always set to \"123456\"._
      operationId: authorisedUserEmailVerify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authorisedUserEmailVerify_request'
        required: true
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorisedUserEmailVerify_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - api_key: []
      summary: Verify email of the authorised user
      tags:
      - Authorised Users
  /users/kyc:
    post:
      description: |
        Perform the kyc for a corporate user.
      operationId: userKyc
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userKyc_200_response'
          description: Success
          headers:
            request-ref:
              $ref: '#/components/headers/request-ref'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userKyc_409_response'
          description: Conflict
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Error
      security:
      - api_key: []
      summary: Start KYC for the user
      tags:
      - Authorised Users
  /corporates:
    get:
      description: Retrieve the details of the logged-in corporate.
      operationId: corporateGet
      responses:
        "200":
          $ref: '#/components/responses/CorporateResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get a corporate
      tags:
      - Corporates
    patch:
      description: |
        Update the details of the logged-in corporate identity.

        The following Corporate details are verified during due diligence (KYB) and cannot be updated via the API once the Corporate has been verified:
          - Root User Name
          - Root User Surname
          - Root User Email
          - Root User Mobile Country Code
          - Root User Mobile Number

        *If these details need to be changed after due diligence is completed, please contact Customer Support to restart the Due Diligence process.*
      operationId: corporateUpdate
      requestBody:
        $ref: '#/components/requestBodies/CorporateUpdateRequest'
      responses:
        "200":
          $ref: '#/components/responses/CorporateResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/CorporateUpdateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Update a corporate
      tags:
      - Corporates
    post:
      description: Create a corporate identity for a business customer.  The information
        provided must be accurate and will be passed on for KYB verification with
        our partner.
      operationId: corporateCreate
      requestBody:
        $ref: '#/components/requestBodies/CorporateCreateRequest'
      responses:
        "200":
          $ref: '#/components/responses/CreateCorporateResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/CorporateCreateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Create a corporate
      tags:
      - Corporates
  /corporates/verification/email/send:
    post:
      description: |
        The first step in verifying a root user's email. The root user whose email address is to be verified is sent an email containing a randomly generated code.

        This code must then be provided in the _corporateRootUserEmailVerify_ operation to verify the root user's email address.

        _Note that on the Sandbox Environment, the `verificationCode` is always set to \"123456\"._
      operationId: corporateRootUserEmailVerificationCodeSend
      requestBody:
        $ref: '#/components/requestBodies/EmailRequest'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/EmailVerificationConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Send an email verification code to the root user
      tags:
      - Corporates
  /corporates/verification/email/verify:
    post:
      description: |
        The second step in verifying the root user's email. The randomly generated code sent to the root user via
        email, using the _corporateRootUserEmailVerificationCodeSend_ operation, is submitted here to verify the root user's email.

        This is needed as part of the verification process for basic due diligence.

        _Note that on the Sandbox Environment, the `verificationCode` is always set to \"123456\"._
      operationId: corporateRootUserEmailVerify
      requestBody:
        $ref: '#/components/requestBodies/EmailVerifyRequest'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/VerifyConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Verify email of the root user
      tags:
      - Corporates
  /corporates/kyb:
    get:
      description: Returns the KYB status for the logged-in corporate.
      operationId: corporateKybGet
      responses:
        "200":
          $ref: '#/components/responses/CorporateKybGetResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get KYB for a corporate
      tags:
      - Corporates
    post:
      description: |
        Corporates need to complete due diligence (KYB) before they can create instruments and perform transactions.

        This operation initiates the due diligence process for the logged-in corporate.

        Due Diligence is handled by a KYB provider - you will need to embed the KYB UI Component in your application so that the Corporate will be able to perform the KYB process.

        To initialise the KYB UI Component, you need a `reference` that is given you in the response of this operation.
      operationId: corporateKybStart
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userKyc_200_response'
          description: Success
          headers:
            request-ref:
              $ref: '#/components/headers/request-ref'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/corporateKybStart_409_response'
          description: Conflict
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Start KYB for a corporate
      tags:
      - Corporates
  /corporates/fees/charge:
    post:
      description: |
        Charge a fee to the corporate identified by the auth token, based on a pre-defined custom fee. Custom fees can be configured in the Multi Portal.

        The fees collected will be deposited into your Revenue Account. The balance and transaction history of your revenue account can be viewed in the Multi Portal.
      operationId: corporateChargeFee
      parameters:
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ChargeFeeRequest'
      responses:
        "200":
          $ref: '#/components/responses/ChargeFeeResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ChargeFeeConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Charge fee to a corporate
      tags:
      - Corporates
  /consumers:
    get:
      description: Retrieve the details of the logged-in Consumer.
      operationId: consumerGet
      responses:
        "200":
          $ref: '#/components/responses/ConsumerResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get a consumer
      tags:
      - Consumers
    patch:
      description: |
        Update the details of the logged-in consumer identity.

        If the Consumer root user has already completed KYC, the following details cannot be updated:
          - name
          - surname
          - email
          - mobile Country Code
          - mobile Number
          - date of Birth
          - address
      operationId: consumerUpdate
      requestBody:
        $ref: '#/components/requestBodies/ConsumerUpdateRequest'
      responses:
        "200":
          $ref: '#/components/responses/ConsumerResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/ConsumerUpdateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Update a consumer
      tags:
      - Consumers
    post:
      description: |
        Create a Consumer Identity to represent an Individual.

        The information provided must be accurate as it will be passed on for KYC verification with our partner.

        *Incorrect information may incur a re-processing fee.*
      operationId: consumerCreate
      requestBody:
        $ref: '#/components/requestBodies/ConsumerCreateRequest'
      responses:
        "200":
          $ref: '#/components/responses/ConsumerResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/ConsumerCreateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Create a consumer
      tags:
      - Consumers
  /consumers/verification/email/send:
    post:
      description: |
        The first step in verifying a root user's email. The root user whose email address is to be verified is sent an email containing a randomly generated code.

        This code must then be provided in the _consumerRootUserEmailVerify_ operation to verify the root user's email address.

        Note that on the Sandbox Environment, the `verificationCode` is always set to \"123456\".
      operationId: consumerRootUserEmailVerificationCodeSend
      requestBody:
        $ref: '#/components/requestBodies/EmailRequest'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/EmailVerificationConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Send an email verification code to the root user
      tags:
      - Consumers
  /consumers/verification/email/verify:
    post:
      description: |
        The second step in verifying the root user's email. The randomly generated code sent to the root user via
        email, using the _consumerRootUserEmailVerificationCodeSend_ operation, is submitted here to verify the root user's email.

        This is needed as part of the verification process for basic due diligence.

        Note that on the Sandbox Environment, emails are not sent and the verification code is always set to \"123456\".
      operationId: consumerRootUserEmailVerify
      requestBody:
        $ref: '#/components/requestBodies/EmailVerifyRequest'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/VerifyConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - api_key: []
      summary: Verify email of the root user
      tags:
      - Consumers
  /consumers/kyc:
    get:
      description: Returns the KYC status for the logged-in consumer.
      operationId: consumerKycGet
      responses:
        "200":
          $ref: '#/components/responses/ConsumerKycGetResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get KYC for a consumer
      tags:
      - Consumers
    post:
      description: "Consumers need to complete due diligence (KYC) before they can\
        \ create instruments and fund transaction.\n\nThis operation initiates the\
        \ due diligence process for the logged-in consumer. \n\nThe level of KYC that\
        \ will be required from the user can be provided as an optional parameter\
        \ - if this is not provided, `KYC_LEVEL_2` will be assumed. \n\nDue Diligence\
        \ is handled by a KYC provider, you will need to embed the KYC UI Component\
        \ in your application to show the KYC screens to your users.\n\nTo initialise\
        \ the KYC UI Component, you need a `reference` that is given to you in the\
        \ response of this operation.\n"
      operationId: consumerKycStart
      requestBody:
        $ref: '#/components/requestBodies/ConsumerKycLevelRequest'
      responses:
        "200":
          $ref: '#/components/responses/ConsumerKycStartResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/ConsumerKycStartConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Start KYC for a consumer
      tags:
      - Consumers
  /consumers/kyc_mobile_sumsub:
    post:
      description: "Consumers need to complete due diligence (KYC) before they can\
        \ create instruments and perform transactions.\nUse this call instead of `/consumers/kyc`\
        \ only in case where the KYC is to be performed using a mobile device.\nThe\
        \ level of KYC that will be required from the user can be provided as an optional\
        \ parameter - if this is not \nprovided, `KYC_LEVEL_2` will be assumed. \n\
        The information returned in the response is to be used to integrate directly\
        \ with Sumsub Mobile SDK.\n"
      operationId: consumerKycStartSumsubMobile
      requestBody:
        $ref: '#/components/requestBodies/ConsumerKycLevelRequest'
      responses:
        "200":
          $ref: '#/components/responses/ConsumerKycStartSumsubMobileResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/ConsumerKycStartSumsubMobileConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Start consumer KYC on mobile
      tags:
      - Consumers
  /consumers/fees/charge:
    post:
      description: |
        Charge a fee to the logged-in consumer based on a pre-defined custom fee. Custom fees can be configured in the Multi Portal.

        The fees collected will be deposited into your Revenue Account. The balance and transaction history of your revenue account can be viewed in the Multi Portal.
      operationId: consumerChargeFee
      parameters:
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ChargeFeeRequest'
      responses:
        "200":
          $ref: '#/components/responses/ChargeFeeResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "409":
          $ref: '#/components/responses/ChargeFeeConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Charge fee to a consumer
      tags:
      - Consumers
  /managed_accounts:
    get:
      description: Retrieves all managed accounts belonging to the logged-in identity.
      operationId: managedAccountsGet
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/friendlyName'
      - $ref: '#/components/parameters/state'
      - $ref: '#/components/parameters/state_blockedReason'
      - $ref: '#/components/parameters/state_destroyedReason'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/createdFrom'
      - $ref: '#/components/parameters/createdTo'
      - $ref: '#/components/parameters/tag'
      responses:
        "200":
          $ref: '#/components/responses/ManagedAccountsGetResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get all managed accounts
      tags:
      - Managed Accounts
    post:
      description: |
        Creates a managed account for the consumer or corporate identity.
        The Managed Account Profile (configured in the Multi Portal) specified determines the behavior and restrictions that the managed account will have."
      operationId: managedAccountCreate
      parameters:
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedAccountCreateRequest'
      responses:
        "200":
          $ref: '#/components/responses/ManagedAccountResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "409":
          $ref: '#/components/responses/ManagedAccountCreateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Create a managed account
      tags:
      - Managed Accounts
  /managed_accounts/{id}:
    get:
      description: Fetch the managed account identified by the `id` in path.
      operationId: managedAccountGet
      parameters:
      - description: The unique identifier of the Managed Account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/ManagedAccountResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get a managed account
      tags:
      - Managed Accounts
    patch:
      description: Update the details for the managed account identified by the `id`
        in the path.
      operationId: managedAccountUpdate
      parameters:
      - description: The unique identifier of the managed account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ManagedAccountUpdateRequest'
      responses:
        "200":
          $ref: '#/components/responses/ManagedAccountResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Update a managed account
      tags:
      - Managed Accounts
  /managed_accounts/{id}/iban:
    get:
      description: Fetch the IBAN details associated with the Managed Account identified
        by the `id` in the path.
      operationId: managedAccountIBANGet
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/ManagedAccountIBANResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get a managed account IBAN
      tags:
      - Managed Accounts
    post:
      description: |
        Assign an IBAN to a Managed Account.

        IBANs enable managed accounts to receive and send funds via wire transfers.

        Assigning an IBAN to a Managed Account may be done asynchronously, in which case the `ManagedAccountIBAN.state` will be set to `PENDING_ALLOCATION` until bank details are ready to use.
      operationId: managedAccountsIBANUpgrade
      parameters:
      - description: The unique identifier of the Managed Account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/ManagedAccountIBANResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedAccountsIBANUpgradeConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Upgrade a managed account with IBAN
      tags:
      - Managed Accounts
  /managed_accounts/{id}/block:
    post:
      description: Temporarily blocks a managed account.
      operationId: managedAccountBlock
      parameters:
      - description: The unique identifier of the managed account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedAccountBlockConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Block a managed account
      tags:
      - Managed Accounts
  /managed_accounts/{id}/unblock:
    post:
      description: |
        Unblocks the managed account identified by the `id` path parameter.
        The managed account must have `state.blockedReason` as `USER` so that it can be unblocked.
        If the managed account was blocked by `SYSTEM`, users cannot unblock it.
      operationId: managedAccountUnblock
      parameters:
      - description: The unique identifier of the managed account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedAccountUnblockConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Unblock a managed account
      tags:
      - Managed Accounts
  /managed_accounts/{id}/statement:
    get:
      description: "Returns a list of transactions against the managed account identified\
        \ by the `id` path parameter, matching the criteria provided in the request."
      operationId: managedAccountStatement
      parameters:
      - description: The unique identifier of the managed account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/orderByTimestamp'
      - $ref: '#/components/parameters/fromTimestamp'
      - $ref: '#/components/parameters/toTimestamp'
      - $ref: '#/components/parameters/showFundMovementsOnly'
      responses:
        "200":
          $ref: '#/components/responses/ManagedAccountStatementResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get a managed account statement
      tags:
      - Managed Accounts
  /managed_accounts/{id}/remove:
    post:
      description: |
        Destroys the managed account identified by the `id` path parameter. Unlike block, this action is not reversible.

        A managed account must be emptied from any remaining funds before it can be destroyed.
      operationId: managedAccountRemove
      parameters:
      - description: The unique identifier of the managed account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedAccountRemoveConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Remove a managed account
      tags:
      - Managed Accounts
  /managed_cards:
    get:
      description: Fetch cards matching the search criteria provided.
      operationId: managedCardsGet
      parameters:
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/profileId'
      - $ref: '#/components/parameters/friendlyName'
      - $ref: '#/components/parameters/state'
      - $ref: '#/components/parameters/state_blockedReason'
      - $ref: '#/components/parameters/state_destroyedReason'
      - $ref: '#/components/parameters/currency'
      - $ref: '#/components/parameters/card_type'
      - description: Search by the card's `externalHandle`.
        explode: true
        in: query
        name: externalHandle
        required: false
        schema: {}
        style: form
      - description: Filter by first six digits of the card.
        explode: true
        in: query
        name: cardNumberFirstSix
        required: false
        schema:
          maxLength: 6
          minLength: 6
          pattern: "^[0-9]*$"
        style: form
      - description: Filter by last four digits of the card.
        explode: true
        in: query
        name: cardNumberLastFour
        required: false
        schema:
          maxLength: 4
          minLength: 4
          pattern: "^[0-9]*$"
        style: form
      - $ref: '#/components/parameters/createdFrom'
      - $ref: '#/components/parameters/createdTo'
      - description: Filter by card mode (prepaid mode or debit mode).
        explode: true
        in: query
        name: mode
        required: false
        schema:
          enum:
          - DEBIT_MODE
          - PREPAID_MODE
        style: form
      - $ref: '#/components/parameters/tag'
      - description: Filter by the Id of the parent managed account associated with
          the card. This is applicable only for debit mode cards.
        explode: true
        in: query
        name: parentManagedAccountId
        required: false
        schema:
          pattern: "^[0-9]+$"
        style: form
      - explode: true
        in: query
        name: manufacturingState
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ManufacturingState'
          uniqueItems: true
        style: form
      responses:
        "200":
          $ref: '#/components/responses/ManagedCardPageResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get all managed cards
      tags:
      - Managed Cards
    post:
      description: |
        Creates a managed card for the consumer or corporate identity.
        The Managed Card Profile (configured in the Multi Portal) specified determines the behaviour and restrictions that the managed card will have.
      operationId: managedCardCreate
      parameters:
      - $ref: '#/components/parameters/idempotency-ref'
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardRequest'
      responses:
        "200":
          $ref: '#/components/responses/ManagedCardResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "409":
          $ref: '#/components/responses/ManagedCardConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Create a managed card
      tags:
      - Managed Cards
  /managed_cards/{id}:
    get:
      description: Returns all details of the managed card identified by the `id`
        path parameter.
      operationId: managedCardGet
      parameters:
      - description: The unique identifier of a card.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/ManagedCardResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get a managed card
      tags:
      - Managed Cards
    patch:
      description: Update the details of the managed card identified by the `id` path
        parameter.
      operationId: managedCardUpdate
      parameters:
      - description: The unique identifier of a card.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardUpdateRequest'
      responses:
        "200":
          $ref: '#/components/responses/ManagedCardResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedCardUpdateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Update a managed card
      tags:
      - Managed Cards
  /managed_cards/{id}/block:
    post:
      description: Blocks the managed card identified by the `id` path parameter.
        This is a reversible action and the card can be unblocked using the _managedCardUnblock_
        operation.
      operationId: managedCardBlock
      parameters:
      - description: The unique identifier of a managed card.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedCardBlockConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Block a managed card
      tags:
      - Managed Cards
  /managed_cards/{id}/unblock:
    post:
      description: |
        Unblocks the managed card identified by the `id` path parameter.
        The managed card must have `state.blockedReason` as `USER` so that it can be unblocked.
        If the managed card was blocked by `SYSTEM`, users cannot unblock it.
      operationId: managedCardUnblock
      parameters:
      - description: The unique identifier of the managed card.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedCardUnblockConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Unblock a managed card
      tags:
      - Managed Cards
  /managed_cards/{id}/remove:
    post:
      description: |
        Destroys the managed card identified by the `id` path parameter. Unlike block, this action is not reversible.

        A managed card must be empty before it can be destroyed using this operation.
      operationId: managedCardRemove
      parameters:
      - description: The unique identifier of a managed card.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedCardRemoveConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Remove a managed card
      tags:
      - Managed Cards
  /managed_cards/{id}/statement:
    get:
      description: "Returns a list of transactions against the managed card identified\
        \ by the `id` path parameter, matching the criteria provided in the request."
      operationId: managedCardStatement
      parameters:
      - description: The unique identifier of a managed card.
        explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      - $ref: '#/components/parameters/accept'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - description: |
          Orders the result in ascending or descending order.
            - ASC: Ascending order, oldest transactions first.
            - DESC: Descending order, most recent transactions first.

          If not specified, the transactions will be returned in descending order.
        explode: true
        in: query
        name: orderByTimestamp
        required: false
        schema:
          enum:
          - ASC
          - DESC
        style: form
      - description: Filter for transactions having transaction timestamp after `fromTimestamp`.
          Timestamp is expressed in Epoch timestamp using millisecond precision.
        explode: true
        in: query
        name: fromTimestamp
        required: false
        schema:
          format: int64
        style: form
      - description: Filter for transactions having transaction timestamp before the
          `toTimestamp`. Timestamp is expressed in Epoch timestamp using millisecond
          precision.
        explode: true
        in: query
        name: toTimestamp
        required: false
        schema:
          format: int64
        style: form
      responses:
        "200":
          $ref: '#/components/responses/ManagedCardStatementResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get a managed card statement
      tags:
      - Managed Cards
  /managed_cards/assign:
    post:
      description: |
        If your application requires anonymous cards, Weavr will create a pool of cards that are initially not assigned to any identity.
        This operation assigns one such previously created managed card from the card pool to the logged-in consumer or corporate identity.
      operationId: managedCardAssign
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardAssignRequest'
      responses:
        "200":
          $ref: '#/components/responses/ManagedCardGetResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "409":
          $ref: '#/components/responses/ManagedCardAssignConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Assign a managed card
      tags:
      - Managed Cards
  /managed_cards/{id}/spend_rules:
    delete:
      description: Remove all spend rules associated with the managed card identified
        by the `id` path parameter.
      operationId: managedCardSpendRulesDelete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Delete all spend rules for a managed card
      tags:
      - Managed Cards
    get:
      description: Fetch the list of spend rules associated with the managed card
        identified by the `id` path parameter.
      operationId: managedCardSpendRulesGet
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      responses:
        "200":
          $ref: '#/components/responses/ManagedCardSpendRulesGetResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Get all spend rules for a managed card
      tags:
      - Managed Cards
    patch:
      description: "Must be user after a POST, to update individual spend rules associated\
        \ with the managed card identified by the `id` path parameter."
      operationId: managedCardSpendRulesUpdate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CardLevelSpendRulesRequest'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedCardSpendRulesUpdateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Update spend rules for a managed card
      tags:
      - Managed Cards
    post:
      description: Create the spend rules associated with the managed card identified
        by the `id` path parameter.
      operationId: managedCardSpendRulesCreate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CardLevelSpendRulesRequest'
      responses:
        "204":
          $ref: '#/components/responses/NoContent'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedCardSpendRulesCreateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Create spend rules for a managed card
      tags:
      - Managed Cards
    put:
      deprecated: true
      description: Set the spend rules associated with the managed card identified
        by the `id` path parameter.
      operationId: managedCardSpendRulesSet
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardSpendRulesRequest'
      responses:
        "200":
          $ref: '#/components/responses/ManagedCardSpendRulesSetResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/Forbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedCardSpendRulesSetConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Set spend rules for a managed card
      tags:
      - Managed Cards
  /managed_cards/{id}/physical:
    post:
      description: |
        Upgrades the virtual card identified by the `id` path parameter to physical.

        Before cards can be upgraded, a physcial card programme must be set up and the card profile configuration updated accordingly.
      operationId: managedCardPhysicalUpgrade
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardPhysicalUpgradeRequest'
      responses:
        "200":
          $ref: '#/components/responses/ManagedCardGetResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedCardPhysicalUpgradeConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Upgrade a card to physical
      tags:
      - Managed Cards
  /managed_cards/{id}/physical/activate:
    post:
      description: Activates the physical card identified by the `id` path paramter.
      operationId: managedCardPhysicalActivate
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          pattern: "^[0-9]+$"
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ManagedCardPhysicalActivateRequest'
      responses:
        "200":
          $ref: '#/components/responses/ManagedCardGetResponse'
        "400":
          $ref: '#/components/responses/BadRequestError'
        "401":
          $ref: '#/components/responses/Unauthorized'
        "403":
          $ref: '#/components/responses/InstrumentForbidden'
        "404":
          $ref: '#/components/responses/NotFound'
        "409":
          $ref: '#/components/responses/ManagedCardPhysicalActivateConflict'
        "429":
          $ref: '#/components/responses/TooManyRequests'
        "500":
          $ref: '#/components/responses/InternalServerError'
        "503":
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/Error'
      security:
      - auth_token: []
        api_key: []
      summary: Activate a physical card
      tags:
      - Managed Cards
  /managed_cards/{id}/physical/pin:
    get:
      description: Retrieves the PIN of the physical card identified by the `id` path
        parameter.
      operationId: managedCardPhysicalPinGet
      parameters:
      - explode: false
        in: path
[...]
